stayle.css
<style>

#header {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px; 
    
    
}

#sing-btn{
    background-color:#1a73e8;
    padding: 10px 25px 10px 25px ;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 10px;
    
    
    
}


#gmail,#Image{
    text-decoration: none;
    color:black;
   margin-top: 10px;
   margin: 10px;
   font-size: 15px;

}

#header svg{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
    margin: 10px;
    opacity: 0.5;
}

#logo{
    text-align: center;
    margin-top: 46px;

}
#search-box{
    border: 3px solid #dadce0;
    text-align: center;
    margin-top: 40px;
    padding:10px;
    border-radius: 30px;
    width: 550px;
    margin: 0 auto;

    
}

#search-box svg{
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
#search-box input{
    outline: none;
    width: 80%;
    border: none;
    text-decoration: none;
}
#search-btn{
    background-color: ;
    margin-top: 50px;
    text-align: center
}
#search-btn a{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 10px 0 10px ;
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 15px;
}
#footer{
    margin-top: 30px;
    background: #f2f2f2;
    padding:15px;
    position: relative;
    bottom:0;
    left:0;
    right:0;


   
}
#footer a{
    text-decoration: none; 
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 10px 0 10px ;


}
#footer-left,#fototer-right{
    display: inline-block;
}
#fototer-right{
    float: right;
}
    </style>